.forEnterprises {
  height: 20px;
  width: 103px;
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.link {
  width: 192px;
  height: 29px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.3px 0 4.7px;
  box-sizing: border-box;
}
.forInvestors {
  height: 20px;
  width: 88px;
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.link1 {
  width: 192px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.6px 0 4.4px;
  box-sizing: border-box;
}
.forBanks {
  height: 20px;
  width: 138px;
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.link2 {
  width: 192px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.9px 0 4.1px;
  box-sizing: border-box;
}
.becomeAPartner {
  height: 20px;
  width: 121px;
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.link3,
.list {
  width: 192px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link3 {
  height: 28px;
  flex-direction: row;
  padding: 4.2px 0 3.8px;
  box-sizing: border-box;
}
.list {
  height: 125px;
  flex-direction: column;
  gap: 4px;
  text-align: left;
  font-size: 14px;
  color: #3c4a41;
  font-family: Inter;
}
